/* styles.css 파일은 다른 css 파일을 추가하는 파일 */

/* reset.css 를 import 한 이유는 처음에 우리가 원하든 원하지 않던 브라우저가 알아서 html에 적용시키는 스타일이 있기 때문. 그것을 완전히 초기화 하기위해 추가  
이렇게 브라우저 스타일을 없애고 우리가 직접 디자인 하는게 더 좋은 방법*/
@import "reset.css";
@import "variables.css";
/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #2e363e;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
