.badge {
  background-color: tomato;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  /* 사각형을 원으로 만들고 싶다면  사각형 width의 반을 값으로 사용하면 됨.*/
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}
