/* 여기서 부터 */
.status-bar {
  /* position: fixed; */
  /* 여기서 position fixed 되면  width가 없어져 상태 바 요소들이 좀 이상하게 나열되는데 width:100% 해주면 잘됨. 꼭 해줘야 하는것 같음.
  width:100% 뿐만 아니라 left: 0 과 right: 0 을 해줘도 됨. */
  /* width: 100%; */
  /* left: 0;
  right: 0; */
  display: flex;
  justify-content: center;
  padding: 5px 3px;
}

.status-bar__column {
  width: 33%;
}

/* 이 형태는 Notion css 9,10 참조. 이것은 tag tag 형태임 */
.status-bar__column:first-child span {
  margin-right: 5px;
}

.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* 여기 까지가 css hack(어떠한 것을 화면 중앙에 두는 것) */

.status-bar__column .fa-battery-full {
  margin: 0px 5px;
}
